<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventfire.ashley.eventfire">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fire"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splashScreen"
            android:theme="@style/SplashTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".collegeFormActivity" />
        <activity android:name=".addEventActivity" />
        <activity android:name=".College_profile" />
        <activity android:name=".CalendarActivity" />
        <activity android:name=".EventListActivity" />
        <activity android:name=".CollapsingActivity" />
        <activity android:name=".Participants_List_Activity"></activity>
    </application>

</manifest>